*
  box-sizing: border-box
html, body
  margin 0
  padding 0
  font 16px/1.2 "yuanti sc", sans-serif
ul
  list-style none
  margin 0
  padding 0
a
  text-decoration none
  // color #fff
input 
  border none 
  outline none
$content-width = 1228px
.container
  width $content-width
  margin auto
.wrap
  min-width $content-width
  width 100vw

@import constants
@import header-nav
@import carousel