<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./css/tab.css")
    script(src="./js/tweenjs.js")
    script(src="./js/cssplugin.js")
  body
    .container
      select#ease
        option
      .wrapper
        .tabs
          a.tab(href="#") news
          a.tab(href="#") movie
          a.tab(href="#") music
          a.tab(href="#") literature
          .indicator
      .content
        img
    script(src="./js/tab.js")