<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    html,body {
      padding: 0;
      margin: 0;
      height: 100%;
    }
    
    .wp {
      overflow: hidden;
      height: 100%;
    }
    .page1 {
      background-color: orange;
    }
    .page2 {
      background-color: yellowgreen;
    }
    .page3 {
      background-color: slateblue;
    }
    .page4 {
      background-color: #88B272;
    }
  </style>
  <link rel="stylesheet" href="../lib/zepto.fullpage.css">
  <script src="../lib/zepto.js"></script>
  <script src="../lib/zepto.fullpage.js"></script>
</head>

<body>
  <div class="wp">
    <div class="wp-inner">
      <div class="page page1">1</div>
      <div class="page page2">2</div>
      <div class="page page3">3</div>
      <div class="page page4">4</div>
    </div>
  </div>
  <script src="../js/fullpage.js"></script>
</body>

</html>