<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./css/style.css")
  body
    .container
      .clock
        .face
        .anchor
        .pointer.hour-pointer
        .pointer.minute-pointer
        .pointer.second-pointer
        // 12 6
        .scale.scale0  
        // 1 7
        .scale.scale1
        // 2 8
        .scale.scale2
        // 3 9
        .scale.scale3
        // 4 10
        .scale.scale4
        // 5 11
        .scale.scale5


    script(src="./js/main.js")