/* 310 100 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.clearfix::before,
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background: radial-gradient(#f5f0e7, #d4ccba);
}
img {
  vertical-align: bottom;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-top: 100px;
}

.products-list {
  width: 1000px;
  margin: auto;
}
.fl {
  float: left;
}
.product {
  width: 310px;
  height: 100px;
  position: relative;
  margin: 0 17.5px;
  margin-bottom: 50px;
}
.product:nth-child(3n+1)
{
  margin-left: 0;
}
.product:nth-child(3n)  {
  margin-right: 0;
}

.product img {
  border-radius:  5px;
  /* box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.5); */
}

.product  {
  border-radius:  5px;
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.5);
}
.product-cover {
  position: absolute;
  transition: 0.5s;
  transform: rotateX(0deg) translateZ(50px);
}

.product-detail {
  box-sizing: border-box;
  position: absolute;
  transition: 0.5s;
  transform: rotateX(-90deg) translateZ(50px);
  width: 100%;
  height: 100%;
  padding: 0rem 2rem;
  border-radius: 5px;
  background: linear-gradient(#EAF1EF , #B6C8D5);
}

.product:hover  .product-cover{

  transform: rotateX(90deg) translateZ(50px);
}

.product:hover .product-detail {

  transform: rotateX(0deg) translateZ(50px);
}