<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title caculator
    link(rel="stylesheet", href="./")
  body
    .caculator
      .number-pad
        .cell#number-1 1
        .cell#number-2 2
        .cell#number-3 3
        .cell#number-4 4
        .cell#number-5 5
        .cell#number-6 6
        .cell#number-7 7
        .cell#number-8 8
        .cell#number-9 9
        .cell#number-0 0
      .operator-pad
        .cell.op-plus +
        .cell.op-minus -
        .cell.op-multiply *
        .cell.op-divide /
