<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    style.
      .box {
        width: 200px;
        height: 200px;
        background-color: red;
        position: absolute;
      }
      #force {
        position: absolute;
        top: 400px;
      }
    script(src="./js/tweenjs.js")
    script(src="./js/cssplugin.js")
  body
    .box#box
    svg
      circle#circle(x=100,y=100, r=50,fill="blue")
    button#play pause
    button#force play
    script(src="./js/main.js")