<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./css/style.css")
  body
    .mask
    //- .box.box1
    //- br
    //- .box.box2
    br
    .border.border1
    .border.border2
    br
    .magnifier
      .magnifier-bar
      .magnifier-lens
    br
    br
    .border-image
    .btn button

    input(type="submit" value="button")
    button.button hello

