* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
}
.container .carousel {
  margin: auto;
  position: relative;
  width: 520px;
  height: 280px;
  overflow: hidden;
}
.container .carousel .item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
.container .carousel .item.slide-right-out {
  animation-name: slide-right-out;
}
.container .carousel .item.slide-right-in {
  animation-name: slide-right-in;
}
.container .carousel .item.slide-left-out {
  animation-name: slide-left-out;
}
.container .carousel .item.slide-left-in {
  animation-name: slide-left-in;
}
.indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.indicator .indicator-item {
  margin: 0 20px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 2px #fff;
}
.indicator .indicator-item.active {
  border: none;
  background-color: #fff;
  box-shadow: 0 0 0 1px #000;
}
@-moz-keyframes slide-right-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes slide-right-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-o-keyframes slide-right-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-right-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-moz-keyframes slide-left-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slide-left-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-o-keyframes slide-left-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-left-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-moz-keyframes slide-left-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-left-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-o-keyframes slide-left-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-left-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slide-right-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-right-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-o-keyframes slide-right-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-right-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
