*
  box-sizing: border-box

html, body
  margin 0
  padding 0

.d-flex
  display flex
  justify-content center

.f-row
  flex-direction: row
.f-column
  flex-direction: column

.container

  @media screen and (min-width: 568px) 
    width 60%
    min-width: 568px

.center  
  margin auto
.comment-editor
  padding 1rem 0
.comment-editor-name
  width 100%
  padding 0.5rem 1rem
  border: solid 1px lightgray
.comment-editor-content
  width 100%
  resize none
  border: solid 1px lightgray

.form-group
  display flex
  justify-content: flex-end
  input  
    width 80px
    height 40px
    border-radius: 2px
    border none
    outline none
    color #fff
    background-color #1493e0
    box-shadow 0 0 5px rgba(30,30,30,0.6)
.comment-list
  display flex
  flex-direction: column
  padding 20

.comment-item
  box-shadow: 0px 0px 5px rgba(109, 109, 109, 0.2),1px 1px 5px rgba(109, 109, 109, 0.2)
  display flex
  flex-direction: row
  margin-bottom 1rem
  position relative
  transition-duration 6s
  &.removed
    height 0 !important
  .delete
    background-color transparent
    border none
    outline none
    position absolute
    opacity 0.2
    top 20px
    right 20px
    width 20px
    height 20px
    transition-duration: 0.4s
    &:hover
      opacity 1.0
    &::before, &::after
      content: ""
      position absolute
      left 0
      width 20px
      height 2px
      background-color #000
    &::before
      transform: rotateZ(45deg)
    &::after
      transform: rotateZ(-45deg)

.comment-item-left
  width 120px
  display flex
  flex-direction column
  padding 20px
  align-items: center
  border-right: dashed 1px lightgray
  div
    &:first-child
      width 60px
      height 60px
      border-radius: 50%
      background-color #eee
      text-transform: uppercase
      display flex
      justify-content: center
      align-items: center
    // div:nth-child(2)
    //   text-align center
.comment-item-right
  flex 1
  padding 1rem 0.5rem
  position relative
  div:last-child
    position absolute
    font-size 0.8rem
    font-weight: lighter
    color #333
    bottom 5px
    right 5px


