* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: url("../img/bg.png") center/cover;
}
img {
  vertical-align: bottom;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sites {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
}
@media (min-width: 640px) {
  .sites {
    width: 80%;
  }
}
.box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 640px) {
  .box {
    width: 50%;
  }
}
.box .site {
  padding: 5px;
  height: 32%;
}
.box .site:nth-child(2n+1) {
  width: 60%;
}
.box .site:nth-child(2n) {
  width: 40%;
}
.box:nth-child(2) .site:nth-child(2n+1) {
  width: 40%;
}
.box:nth-child(2) .site:nth-child(2n) {
  width: 60%;
}
